
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
<body>
  <header>
  <nav>
  
    <!-- <img src="/images/camera.svg"> -->
    <img class="nav-link" src="/images/bunny.png" height="40px" width="40px">
    <a class="nav-link" href="/cafes" <%- title === 'All cafes' ? 'class="active"' : '' %>> 
      CAFE HOPPER</a>
    <% if (user) { %>
      <a class="nav-link" href="/cafes/new" <%- title === 'Add Cafe' ? 'class="active"' : '' %>>ADD CAFE</a>
      <a class="nav-link" href="/logout">LOG OUT</a>
      <% } else { %>
        <a class="nav-link" href="/auth/google" class="login">LOG IN&nbsp;</a>
      <% } %>
  </nav>
</header>
  <main>
    <h1><%= title %></h1>


