<%- include('../partials/header') %>

<div class="cafe-container">
  <img class="doublebunny" src="/images/doublebunny.png">
  <h1>Add Cafe</h1>
  <form action="/cafes" method="POST">
    <label>Cafe Name:
      <input type="text" name="title">
    </label><br>
    <button type="submit">Add!</button>
  </form>
</div>


<%- include('../partials/footer') %>

