<%- include('../partials/header') %>
<!-- <form id="new-form" action="/cafes" method="POST"></form> -->
<h2>Add a New Cafe</h2>
<form action="/cafes" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <button type="submit">Add Cafe</button>
</form>


<a href="/">Add Features</a>

<p><%= errorMsg %></p>
<%- include('../partials/footer') %>

